<p>all-products works!</p>

<div class="my-2 w-25">
    <label for="select">Categories</label>
    <select class="form-control">
        <option value="1">option1</option>
        <option value="2">option2</option>
        <option value="3">option3</option>
        <option value="4">option4</option>
    </select>
</div>

<div class="row">
    <div class="col-md-3 col-sm-12" *ngFor="let item of products | async">

<div class="card" style="width: 18rem;">

    <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
      <span>{{item.price}}$</span>
    </div>
  </div> 
</div>
</div>